<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Личный кабинет | SM-Вебинары</title>
        <link href="../public/css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body class="bodyPage"> 

      
      <div class="circle1"></div>
      <div class="circle2"></div>
      
      
      <section class="headerDiv" id="headerDiv">
        <header class="UpPanel">
            <a href="index.html">
            <img
              src="../public/pic/logo.png"
              alt="SM-Вебинары"
            >
            </a>
            <nav>
              <a href="#" class="headerButtons">
                <img src="../public/pic/account.svg">
              </a>
              <a href="#" class="headerButtons">
                <img src="../public/pic/email.svg">
              </a>
              <a href="#" class="headerButtons">
                <img src="../public/pic/menu.svg">
              </a>
            </nav>
          </header>
      </section>

        <div class="pageContentDiv">
          <section class="leftContentSection">
            <div class="profileContent">
              <img class="picProfile" src="../public/pic/аватарка.svg" width="100px" height="100px">

              <nav>
                <h3 style="height: 5px;">Даниил</h3>
                <p>уровень 2</p>
              </nav>

              <a href="#">
                <img src="../public/pic/ic_baseline.svg">
              </a>

            </div>

            <div class="selectionMenu">
              <nav>
                <a href="#">Конференции</a>
                <div class="line"></div>
                <a href="#">Задания</a>
                <div class="line"></div>
                <a href="#">Курсы</a>
                <div class="line"></div>
                <a href="#">Сообщения</a>
                <div class="emptySpace"></div>
                <a href="#" class="settCab">
                  <img src="../public/pic/ic_round-settings.svg">
                  Настройки профиля
                </a>
              </nav>
            </div>
          </section>
          <section class="rightContentSection">
            <header class="textSelectedCtg">
                <h2>Конференции</h2>
                <nav class="filterConfCtg">
                  <p>по дате:</p>
                  <a href="#" class="a filterccc">ближайшие</a>
                </nav>
            </header>
            
            <div class="selectionConfCtg">
              <div class="ConfList">
                <div class="ConfReady"> 
                  <img src="../public/pic/аватарка.svg">
                  <div class="info">
                    <p><b>Новая тема конференции</b> <br> Эксперт: <b>Даниил </b> <br> 19:00 | Сегодня</p>
                  </div>
                  <div class="nextButtons"> <!-- Перенесено внутрь ConfReady -->
                    <a href="#">
                      <img src="../public/pic/bi_three-dots.svg">
                    </a>
                    <button id="openModal">
                      <img src="../public/pic/Frame 41.svg">
                    </button>
                    
                    <div id="modal" class="modal">
                      <div class="modal-content">
                        <button class="close">close</button>                   
                        <button class="send">send</button>
                        <input type="text" id="linkInput" placeholder="Вставьте ссылку сюда" />
                      </div>
                    </div>
                    
                    <script>
                      const modal = document.querySelector('#modal');
                      const btn = document.querySelector('#openModal');
                      const close = document.querySelector('.close');
                      const send = document.querySelector('.send'); // исправлено с #send на .send
                      const linkInput = document.querySelector('#linkInput');
                      
                      // Открытие модального окна
                      btn.onclick = function () {
                        modal.style.display = 'block';
                      };
                      
                      // Закрытие модального окна
                      close.onclick = function () {
                        modal.style.display = 'none';
                      };
                      
                      // Закрытие модального окна при клике вне его
                      window.onclick = function (event) {
                        if (event.target === modal) {
                          modal.style.display = 'none';
                        }
                      };
                    
                      // Переход по ссылке при нажатии на кнопку send
                      send.onclick = function () {
                        const url = linkInput.value;
                        if (url) {
                          window.open(url, '_blank'); // Открыть ссылку в новой вкладке
                        } else {
                          alert('Пожалуйста, введите ссылку.');
                        }
                      };
                    </script>
                    
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

      <section class="footerContent">
        <footer>

        </footer>
      </section>

    </body>
</html>



